.jumbotron {
    background-color: goldenrod;
}

.train, .atrain, .tschedule {
    background-color: #be0000;
    padding: 3vh 0vw;
    
}

.button {
    background-color: #be0000;
    font-weight: strong;
    margin-bottom: 1.5vh;
}

.atrain, .tschedule, .addt, .schedule {
    border: solid 1px #be0000;
}

#tname, #destination, #ftime, #frequency {
    width: 100%;
}